#container{
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
#numOfDice{

    text-align: center;
    font-size: 1.5rem;
    width: 50%;
}
button{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: hsl(240, 100%, 50%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(240, 100%, 40%);
}
#diceresult{
    margin: 25px;
}
#diceimage img{
    width:150px;
    margin: 10px;


}